<div class="content-container">
  <div class="payment-entry-form">
    <h1 style="margin-bottom: 1rem">Persoon toevoegen</h1>

    <form autocomplete="off">
      <div class="form-group">
        <label for="from">Naam</label>
        <input
          class="form-control"
          [(ngModel)]="person.name"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          id="from"
        />
        <!-- <small class="error-message" v-if="v$.payment.from.required.$invalid">
            Een naam is verplicht.
          </small> -->
      </div>
    </form>
  </div>

  <div class="entry-actions">
    <div class="btn btn-primary" (click)="goBack()">Cancel</div>
    <div class="btn btn-primary" (click)="onSubmit()">
      <span>Persoon toevoegen</span>
    </div>
  </div>
</div>
