<template>
  <div class="home">
    <PaymentsList />
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapActions } from "vuex";

import PaymentsList from "@/components/payments/PaymentsOverview.vue";
import { PaymentActionTypes } from "@/store/payments/action-types";
import { UtilitiesActionTypes } from "@/store/utils/action-types";

export default defineComponent({
  name: "Index",
  async created() {
    const paybackQueryId = this.$route.query.id;

    if (paybackQueryId) {
      await this.fetchPayments(paybackQueryId);
    } else {
      // this.createNewPaybackRegister();
    }
  },
  components: {
    PaymentsList
  },
  methods: {
    ...mapActions("payments", {
      fetchPayments: PaymentActionTypes.FETCH_PAYMENTS
    }),

    ...mapActions("utils", {
      checkPaybackRegister: UtilitiesActionTypes.CHECK_REGISTER_KEY,
      createPayBackRegister: UtilitiesActionTypes.CREATE_NEW_REGISTER
    })
  }
});
</script>
