<template>
  <PaymentEntryComp />
</template>

<script lang="ts">
import { defineComponent } from "vue";

import PaymentEntryComp from "../components/payments/PaymentEntry.vue";

export default defineComponent({
  components: {
    PaymentEntryComp
  }
});
</script>
