<template>
  <div class="content-container people-wrapper">
    <div class="people-header">
      <h1>Uitgaven</h1>
      <router-link
        to="/people"
        class="material-icons payments payments-header-add"
      >
        add_box
      </router-link>
    </div>

    <div class="payments-container">
      <ol class="payments-list" v-if="!paymentsEmpty">
        <li
          class="payments-item"
          v-for="(payment, index) in payments"
          :key="index"
        >
          <PaymentLayout :paymentInfo="payment" />
        </li>
      </ol>
      <div class="payments-empty" v-else>
        <span>Er zijn nog geen betalingen ingevoerd</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
