<div class="content-container">
  <div class="payment-entry-form">
    <h1 style="margin-bottom: 1rem">Betaling toevoegen</h1>

    <form [formGroup]="paymentForm" autocomplete="off">
      <div class="form-group">
        <label for="from">Van</label>
        <input
          class="form-control"
          required
          minlength="2"
          formControlName="from"
          type="text"
          id="from"
        />
        <div
          *ngIf="from.invalid && (from.dirty || from.touched)"
          class="alert alert-danger"
        >
          <div *ngIf="from.errors.required">
            Naam is verplicht om in te voeren
          </div>
          <div *ngIf="from.errors.minlength">
            Naam heeft minimaal 2 karakters nodig
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="amount">Prijs</label>
        <input
          formControlName="price"
          class="form-control"
          type="number"
          min="0.01"
          id="amount"
        />
        <div *ngIf="price.invalid && (price.dirty || price.touched)" class="alert alert-danger" >
          <div *ngIf="price.errors.min">Dit is geen geldig geldbedrag</div>
        </div>
      </div>

      <div class="form-group">
        <label for="categorie">Waarvoor</label>
        <select
          [(ngModel)]="payment.category"
          [ngModelOptions]="{ standalone: true }"
          class="form-control"
          type="text"
          id="categorie"
        >
          <option value="Bioscoop">Bioscoop</option>
          <option value="Restaurant">Restaurant</option>
          <option value="Karten">Karten</option>
          <option value="Museum">Museum</option>
          <option value="Voorgeschoten">Voorgeschoten</option>
          <option value="Overig">Overig</option>
        </select>
      </div>

      <div class="form-group">
        <label for="description">Beschrijving</label>
        <textarea
          [(ngModel)]="payment.description"
          [ngModelOptions]="{ standalone: true }"
          rows="6"
          style="resize: vertical; min-height: 15rem"
          class="form-control"
        ></textarea>
      </div>
    </form>
  </div>

  <div class="entry-actions">
    <div class="btn btn-primary" (click)="goBack()">Cancel</div>
    <div class="btn btn-primary" (click)="onSubmit()">
      <span>Betaling toevoegen</span>
    </div>
  </div>
</div>
