<div class="content-container payments-wrapper">
    <div class="payments-header">
      <h1>Transacties</h1>
      <div (click)="getTransactions()" class="material-icons payments payments-header-add">
        loop
      </div>
    </div>
  
    <div class="payments-container">
      <ol class="payments-list" *ngIf="transactions.length !== 0">
        <li class="payments-item" *ngFor="let transaction of transactions">
          <app-transaction [transaction]="transaction"></app-transaction>
        </li>
      </ol>
      <div class="payments-empty" *ngIf="transactions.length === 0">
        <span>druk op de refresh knop om de transacties te berekenen</span>
      </div>
    </div>
  </div>

  