.payments-wrapper {
    margin-top: 2rem;
  
    min-height: 15rem;
  }
  
  .payments-container {
    display: block;
    position: relative;
  
    width: 100%;
  
    margin-bottom: 1.5rem;
  }
  
  .payments-header {
    display: flex;
    position: relative;
  
    justify-content: space-between;
    align-items: center;
  }
  
  .payments-header-add {
    color: #000000;
  
    padding: 0.4rem;
  
    text-decoration: none;
  }
  
  .payments-list {
    display: grid;
    position: relative;
  
    flex-wrap: wrap;
  
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem 0.75rem;
  
    padding: 0;
  
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  
  .payments-item {
    margin: 0;
    padding: 0;
  
    flex: 1 0 25%;
    list-style-type: none;
  }
  
  .payments-empty {
    display: block;
    position: relative;
  
    font-size: 20px;
  
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  @media screen and (max-width: 992px) {
    .payments-list {
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem 0.5rem;
    }
  }
  
  @media screen and (min-width: 992px) {
    .payments-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (min-width: 1200px) {
    .payments-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  