/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use '~bootstrap/scss/bootstrap';

@use 'variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html body {
  font-family: v.$font-family;
  font-size: v.$text-size;
  font-weight: v.$font-weight;

  margin: 0;
  padding: 0;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: 0;
  border-top: 1px solid #dee2e6;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.entry-actions {
  display: flex;
  position: relative;

  margin-top: 3rem;

  justify-content: space-between;
}

.page-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.content-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@for $i from 1 through length(v.$breakpoints) {
  $breakpoint: nth(v.$breakpoints, $i);
  $size: nth(v.$breaksizes, $i);

  @media screen and (min-width: $breakpoint) {
    .content-container {
      max-width: $size;
    }
  }
}
