@use '../../../variables.scss' as v;

.payment-card {
  display: block;
  position: relative;

  flex-direction: column;
  word-wrap: break-word;

  height: 100%;

  border: 2px solid v.$primary-color;
  border-radius: 0.2rem;
}

.card-body small {
  display: block;
  position: relative;

  color: #a0a0a0;

  margin-bottom: 0.75rem;
}

.payment-container {
  display: block;
  position: relative;

  text-decoration: none;
  color: v.$secondary-text-color;

  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
}

.payment-general-wrapper {
  display: flex;
  position: relative;
}

.payment-general-price {
  display: block;
  position: relative;

  width: 50%;
}

.payment-general-category {
  display: block;
  position: relative;

  width: 50%;
}

.payment-name {
  display: block;
  position: relative;

  color: inherit;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.payment-description {
  display: block;
  position: relative;

  margin: 0.5rem 0;
}

.payment-delete-body {
  display: block;
  position: absolute;

  margin: 0;

  top: 0;
  right: 0;

  z-index: 1;
}

.payment-delete-remove {
  cursor: pointer;

  padding: 0.5rem 0.5rem;

  &:hover {
    color: #b31616;
  }
}
