<div class="card">
  <div class="card-body">
    <div class="payment-name">
      <small><i>Van:</i></small>
      <h2>{{ transaction.from }}</h2>
    </div>
    <div class="payment-name">
      <small><i>Naar:</i></small>
      <h2>{{ transaction.to }}</h2>
    </div>
    <div class="payment-general-wrapper">
      <div class="payment-general-price">
        <small><i>Hoeveel: </i></small>
        <span>{{ transaction.price }}</span>
      </div>
    </div>
  </div>
</div>
