<div class="page-layout">
  <header>
    <nav class="navbar navbar-expand-md navbar-light navigation">
      <a routerLink="/" class="navbar-brand navigation-head">
        <img class="navigation-logo" src="/assets/logo.svg" />
        <h1 class="navigation-title">Payback</h1>
      </a>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <footer>
    <small>Ian van de Poll - 2021</small>
  </footer>
</div>
