@use "../variables" as v;

.navigation {
  background: #455a64;

  justify-content: center;
}

.navigation-head {
  display: flex;
  position: relative;
  color: inherit;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}

.navigation-logo {
  display: block;
  position: relative;
  height: 3rem;
  margin-right: 1.5rem;
}

.navigation-title {
  color: white;
  font-size: 26px;
  font-weight: 700;
}
