<template>
  <div>
    <nav class="nav">
      <div class="content-container nav-content">
        <router-link to="/" class="nav-head-link">
          <img class="nav-logo" src="../assets/logo.svg" />
          <h1 class="nav-title">Payback</h1>
        </router-link>
      </div>
    </nav>
    <div class="sub-nav">
      <div class="content-container nav-content">
        <span>Een product door: Ian van de Poll</span>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
@use '@/assets/scss/variables.scss' as v;

.nav {
  display: block;
  position: relative;

  width: 100%;
  height: 4rem;

  color: v.$primary-text-color;
  background: v.$primary-color;
}

.nav-head-link {
  display: flex;
  position: relative;

  color: inherit;
  text-decoration: none;

  align-items: center;
  justify-content: center;
}

.nav-logo {
  display: block;
  position: relative;

  height: 3rem;

  margin-right: 1.5rem;
}

.nav-content {
  display: flex;
  position: relative;

  height: 100%;

  align-items: center;
  justify-content: center;
}

.nav-title {
  color: inherit;

  font-size: v.$title-size;
  font-weight: 700;
}

.sub-nav {
  display: block;
  position: relative;

  width: 100%;
  height: 2rem;

  color: v.$primary-text-color;
  background: v.$primary-color-light;
}
</style>
