<template>
  <div class="content-container">
    <div class="payment-entry-form">
      <h1 style="margin-bottom: 1rem;">Add payment</h1>

      <form autocomplete="off">
        <div class="form-line">
          <label for="from">From</label>
          <input
            class="form-input"
            v-model="payment.from"
            type="text"
            id="from"
          />
          <small class="error-message" v-if="v$.payment.from.required.$invalid">
            Een naam is verplicht.
          </small>
        </div>

        <div class="form-line">
          <label for="amount">Price</label>
          <input
            v-model="payment.price"
            class="form-input"
            type="number"
            min="0.01"
            id="amount"
          />
          <small
            class="error-message"
            v-if="v$.payment.price.currency.$invalid"
          >
            Je ingevoerde waarde voldoet niet aan een geldbedrag.
          </small>
        </div>

        <div class="form-line">
          <label for="categorie">Wherefore</label>
          <select
            v-model="payment.category"
            class="form-input"
            type="text"
            id="categorie"
          >
            <option value="Bioscoop">Bioscoop</option>
            <option value="Restaurant">Restaurant</option>
            <option value="Karten">Karten</option>
            <option value="Museum">Museum</option>
            <option value="Voorgeschoten">Voorgeschoten</option>
            <option value="Overig">Overig</option>
          </select>
        </div>

        <div class="form-line">
          <label for="description">Description</label>
          <textarea
            v-model="payment.description"
            rows="6"
            style="resize: vertical; min-height: 15rem;"
            class="form-input"
          ></textarea>
        </div>
      </form>
    </div>

    <div class="payment-entry-actions">
      <div
        class="button button-primary"
        :class="{ disabled: isLoading }"
        @click="$router.back()"
      >
        Cancel
      </div>
      <div
        class="button button-primary"
        :class="{ disabled: isLoading }"
        @click="onSubmit"
      >
        <span v-if="!isLoading">Create Payment</span>
        <div class="lds-ring" v-else>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { mapActions } from "vuex";

import { PaymentActionTypes } from "../../store/payments/action-types";

import { required } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

import { useToast } from "vue-toastification";

import { Payment } from "../../entities/payment";

function currency(value: number): boolean {
  return new RegExp("^[0-9]+(\\.[0-9]{1,2})?$").test(String(value));
}

export default defineComponent({
  data() {
    return {
      isLoading: false,
      payment: {
        from: "",
        price: 0.01,
        category: "Overig"
      } as Payment
    };
  },
  setup() {
    return {
      v$: useVuelidate()
    };
  },
  components: {},
  methods: {
    ...mapActions("payments", {
      createPayment: PaymentActionTypes.CREATE_PAYMENT,
    }),

    onSubmit() {
      const toast = useToast();

      this.isLoading = true;
      this.v$.payment.$touch();

      if (this.v$.payment.$error) {
        //show message
        this.isLoading = false;
        toast.error("Je voelt niet aan de eisen van de form");

        return;
      }

      this.createPayment(this.payment)
        .then(() => {
          this.isLoading = false;

          toast.success("Betaling is aangemaakt");

          this.$router.push({ path: "/" });
        })
        .catch((err) => {
          toast.error("Er ging iets mis op de server");
          this.isLoading = false;
        });
    },
  },
  validations() {
    return {
      payment: {
        from: {
          required,
        },
        price: {
          currency,
        },
      },
    };
  },
});
</script>

<style scoped>
.payment-entry-form {
  margin-top: 2rem;
}

.payment-entry-actions {
  display: flex;
  position: relative;

  margin-top: 3rem;

  justify-content: space-between;
}

.error-message {
  color: red;
}

.disabled {
  pointer-events: none;
  opacity: 0.7;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
</style>
