<template>
  <div class="payment-card">
    <router-link :to="'/payments/' + paymentInfo.id" class="payment-container">
      <div class="payment-name">
        <small><i>Door:</i></small>
        <h2>{{ paymentInfo.from }}</h2>
      </div>
      <div class="payment-general-wrapper">
        <div class="payment-general-price">
          <small><i>Kosten: </i></small>
          <span>{{ formatedPrice }}</span>
        </div>
        <div class="payment-general-category">
          <small><i>Waarvoor?</i></small>
          <span>{{ paymentInfo.category }}</span>
        </div>
      </div>
      <hr />
      <div class="payment-description">
        <small><i>Beschrijving:</i></small>
        <p v-if="paymentInfo.description">{{ paymentInfo.description }}</p>
        <p v-else>Geen beschrijving aanwezig</p>
      </div>
    </router-link>

    <div class="payment-delete-body">
      <i
        class="material-icons payment-delete-remove"
        @click="removePaymentAction"
      >
        close
      </i>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { mapActions } from "vuex";

import { PaymentActionTypes } from "../../store/payments/action-types";

import { Payment } from "../../entities/payment";

import currency from "currency.js";

export default defineComponent({
  name: "Payment-card",
  props: {
    paymentInfo: {
      type: Object as PropType<Payment>,
      required: true
    }
  },
  methods: {
    ...mapActions("payments", {
      removePayment: PaymentActionTypes.DELETE_PAYMENT
    }),

    removePaymentAction(): void {
      console.log(this.paymentInfo);
      this.removePayment(this.paymentInfo);
    }
  },
  computed: {
    formatedPrice(): string {
      return currency(this.paymentInfo.price, {
        symbol: "€",
        decimal: ",",
        separator: "."
      }).format();
    }
  }
});
</script>

<style lang="scss">
@use '@/assets/scss/variables.scss' as v;

.payment-card {
  display: block;
  position: relative;

  flex-direction: column;
  word-wrap: break-word;

  height: 100%;

  border: 2px solid v.$primary-color;
  border-radius: 0.2rem;
}

.payment-card small {
  display: block;
  position: relative;

  color: #a0a0a0;

  margin-bottom: 0.75rem;
}

.payment-container {
  display: block;
  position: relative;

  text-decoration: none;
  color: v.$secondary-text-color;

  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
}

.payment-general-wrapper {
  display: flex;
  position: relative;
}

.payment-general-price {
  display: block;
  position: relative;

  width: 50%;
}

.payment-general-category {
  display: block;
  position: relative;

  width: 50%;
}

.payment-name {
  display: block;
  position: relative;

  color: inherit;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.payment-description {
  display: block;
  position: relative;

  margin: 0.5rem 0;
}

.payment-delete-body {
  display: block;
  position: absolute;

  margin: 0;

  top: 0;
  right: 0;

  z-index: 1;
}

.payment-delete-remove {
  cursor: pointer;

  padding: 0.5rem 0.5rem;

  &:hover {
    color: #b31616;
  }
}
</style>
