<div class="content-container payments-wrapper">
  <div class="payments-header">
    <h1>Uitgaven</h1>
    <a routerLink="/payment" class="material-icons payments payments-header-add">
      add_box
    </a>
  </div>

  <div class="payments-container">
    <ol class="payments-list" *ngIf="payments.length !== 0">
      <li class="payments-item" *ngFor="let payment of payments">
        <app-payment [payment]="payment"></app-payment>
      </li>
    </ol>
    <div class="payments-empty" *ngIf="payments.length === 0">
      <span>Er zijn nog geen betalingen ingevoerd</span>
    </div>
  </div>
</div>
