<div class="card">
  <div class="card-body">
    <div class="payment-name">
      <small><i>Door:</i></small>
      <h2>{{ payment.from }}</h2>
    </div>
    <div class="payment-general-wrapper">
      <div class="payment-general-price">
        <small><i>Kosten: </i></small>
        <span>{{ payment.price }}</span>
      </div>
      <div class="payment-general-category">
        <small><i>Waarvoor?</i></small>
        <span>{{ payment.category }}</span>
      </div>
    </div>
    <hr />
    <div class="payment-description">
      <small><i>Beschrijving:</i></small>
      <p *ngIf="payment.description">{{ payment.description }}</p>
      <p *ngIf="!payment.description">Geen beschrijving aanwezig</p>
    </div>
  </div>

  <div class="payment-delete-body">
    <i class="material-icons payment-delete-remove" (click)="deletePayment()"> close </i>
  </div>
</div>
