<div class="content-container people-wrapper">
  <div class="people-header">
    <h1>Pool</h1>
    <a routerLink="/people" class="material-icons people people-header-add">
      add_box
    </a>
  </div>

  <div class="people-container">
    <ol class="people-list" *ngIf="people.length !== 0">
      <li class="people-item" *ngFor="let person of people">
        <app-person [person]="person"></app-person>
      </li>
    </ol>
    <div *ngIf="people.length === 0" class="people-empty">
      <span>Er zijn nog geen leden ingevoerd</span>
    </div>
  </div>
</div>
