<template>
  <div class="page-layout">
    <Navbar />
    <main>
      <router-view />
    </main>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

import Navbar from "./components/NavigationBar.vue";

export default defineComponent({
  name: "App",
  components: {
    Navbar
  }
});
</script>
