.payment-delete-body {
  display: block;
  position: absolute;

  margin: 0;

  top: 0;
  right: 0;

  z-index: 1;
}

.payment-delete-remove {
  cursor: pointer;

  padding: 0.5rem 0.5rem;

  &:hover {
    color: #b31616;
  }
}
