<div class="card">
  <div class="card-body">
      <small>Naam:</small>
      <h2>{{ person.name }}</h2>
  </div>

  <div class="payment-delete-body">
    <i class="material-icons payment-delete-remove" (click)="deletePerson()">
      close
    </i>
  </div>
</div>
