@use 'variables' as v;

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    border-radius: 0.15rem;
    margin: 0.25rem 0.35rem;
    padding: 0.35rem 0.635rem;
    min-height: 2.5rem;
    text-decoration: none;
    cursor: pointer;

    transition: color 0.15s ease-in-out, 
        background-color 0.15s ease-in-out, 
        border-color 0.15s ease-in-out, 
        box-shadow 0.15s ease-in-out;
}

.button-full {
    @extend .button;
    padding: 0.25rem 0.575rem;
    width: 100%;
}

.button-primary {
    @extend .button;
    color: #FFF;
    background-color: v.$primary-color;

    &:hover {
        background-color: v.$secondary-color;
    }
}

.button-secondary {
    @extend .button;
    color: #FFF;
    background-color: #FFF;
    border: 0.15rem solid;
    border-color: #D2051E;

    &:hover {
        background-color: #47122A;
    }
}

.button-action {
    @extend .button;
    color: #FFF;
    border: 4px solid;
    min-height: 3.5rem;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 0.8rem 1.2rem;
    border-radius: 2rem;
    border-color: #cd051f;
    background-color: #d2051e;

    &:hover{
        color: #FFF;
        text-decoration: none;
        letter-spacing: 0.1rem;
        border-color: #42122a;
        background-color: #47122a;
    }
}
