@use 'variables' as v;

.form-line {
  margin-bottom: 1rem;
}

.form-input {
  display: block;
  position: relative;

  font-family: v.$font-familiy;

  color: v.$secondary-text-color;
  background-color: v.$primary-text-color;
  border: 2px solid v.$primary-color;

  width: 100%;
  height: 2.75rem;

  margin-top: 0.5rem;
  padding: 0.375rem 0.95rem;

  line-height: 1.75;
  font-size: 1.2rem;
  border-radius: 0.15rem;

  transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

  &:focus {
    border: 2px solid v.$secondary-color;

    outline: none;
    overflow: hidden;
  }

  &:disabled {
    background-color: #e7e5e2;
  }
}

