@use 'variables' as v;

.page-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

.content-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@for $i from 1 through length(v.$breakpoints) {
  $breakpoint: nth(v.$breakpoints, $i);
  $size: nth(v.$breaksizes, $i);

  @media screen and (min-width: $breakpoint) {
    .content-container {
      max-width: $size;
    }
  }
}
