@use 'variables' as v;

@use 'layout';
@use 'form';
@use 'button';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: v.$font-familiy;
  font-size: v.$text-size;
  font-weight: v.$font-weight;

  margin: 0;
  padding: 0;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

hr {
  border: 0;
  border-top: 1px solid #dee2e6;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}