$primary-color: #455a64;
$primary-color-light: #718792;
$primary-color-dark: #1c313a;
$primary-text-color: #ffffff;

$secondary-color: #ffa000;
$secondary-color-light: #ffd149;
$secondary-color-dark: #c67100;
$secondary-text-color: #000000;

$text-size: 16px;
$bold-size: 20px;
$title-size: 26px;

$breakpoints: (576px, 768px, 992px, 1200px, 1400px);
$breaksizes: (540px, 720px, 960px, 1140px, 1320px);

$font-familiy: 'Roboto', sans-serif;
$font-weight: 400;

